| Hi there,
| <%= @user.first_name %> <%= @user.last_name %> invited you to join the group <%= @group.name %> on MAMMOOC (<%= @root_url %>). To join, please follow the link: <%= @link %>
| Lot of fun.