| (English Version below)

| Hallo <%= @user.first_name %> <%= @user.last_name %>,

| dein vorgemerkter Kurs: <%= link_to @course.name, course_url(@course) %> beginnt in einer Woche am <%= @course.start_date.strftime('%-d.%-m.%Y') %>.

| Viel Spaß,
| dein mammooc-Team




| Hello <%= @user.first_name %> <%= @user.last_name %>,

| your bookmarked course: <%= link_to @course.name, course_url(@course) %> starts in one weeks at <%= @course.start_date.strftime('%-m/%-d/%Y') %>.

| Lof of fun,
| your mammooc-Team