| Hi there,
| <%= @worker_name %> got a `X-Api-Version-Expiration-Date` in the response to the following request @request. You have to update <%= t('global.app_name') %> until <%= @api_expiration_date %>.
| Kind regards,
| your mammooc-Team
