$group-logo-height: 80px;

// Header

$group-logo-margin-left: 15px;
$entry-padding-left: 10px;

.group-header {
  @include white-box;
  @include box-shadow-light;
  margin-bottom: 30px;

  .wrapper {
    min-height: $group-logo-height;

    .logo {
      @include white-box;
      @include box-shadow-light;
      margin-top: -15px;
      margin-left: $group-logo-margin-left;
      margin-right: 15px;
      padding: 5px;
      height: $group-logo-height;
      max-width: 250px;
      overflow: hidden;
      float: left;

      img {
        height: 100%;
        width: auto;
      }

    }

    .title {
      @extend .hd3;
      padding-top: 15px;
    }

    .invite-member-button {
      float: right;
    }
  }

  .subnav {
    background-color: $gray-lighter;
    border-top: 1px solid $panel-default-border;

    .container-fluid {
      display: table;
      margin-top: 0px;
      margin-left: $group-logo-margin-left - $entry-padding-left;
        
      .entry {
        display: table-cell;
        padding-left: $entry-padding-left;
        padding-right: 10px;
        padding-top: 5px;
        font-size: 13px;

        a {
          @include link-black-hover-green;
        }
      }

      .active {
        font-weight: bold;
        border-bottom: 2px solid $text-color;
      }
    }
  }
}

// Groups Overview

.groups-wrapper {

  .groups {
    @include white-box;
    @include box-shadow-light;
    margin-top: 15px;
    margin-bottom: 30px;
    float: left;

    @media(min-width: 992px) {
      &:nth-child(even) {
        width: 48%;
        margin-left: 2%;
      }

      &:nth-child(odd) {
        width: 48%;
        margin-right: 2%;
      }
    }

    @media(max-width: 991px) {
      width: 100%;
    }

    .groups-info {
      position: relative;
      min-height: $group-logo-height + 60px;

      .logo {
        @include white-box;
        margin-top: -15px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 5px;
        height: $group-logo-height;
        max-width: 250px;
        overflow: hidden;
        float: left;
        @include box-shadow-light;

        img {
          height: 100%;
          width: auto;
        }
      }

      .name {
        @extend .hd4;
        padding: 10px;
      }
    }
  }
}

.btn-show-group {
  @extend .show-button;
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-weight: 500;
  &:hover {
  background-color: darken($gray-ultra-light, 2%);
  }
}


// Members

$members_image_height: 100px;

.members-wrapper{

  .members {
    @include white-box;
    @include box-shadow-light;
    margin-bottom: 20px;
    float: left;

    @media(min-width: 992px) {
      &:nth-child(3n+1) {
        width: 32%;
        margin-right: 1%;
      }

      &:nth-child(3n+2) {
        width: 32%;
        margin-left: 1%;
        margin-right: 1%;
      }
      &:nth-child(3n+0) {
        width: 32%;
        margin-left: 1%;
      }
    }

    @media(max-width: 991px) {
      width: 100%;
    }

    &:hover {
      @include box-shadow-hover;
    }

    img {
      border-right: 1px solid $panel-default-border;
      margin-right: 10px;
      height: $members_image_height;
      width: auto;
      float: left;
    }

    .name {
      position: relative;
      min-height: $members_image_height;
      padding: 10px 10px 10px 0px;

      .admins {
        font-size: 12px;
        font-weight: normal;
      }

      .options {
        position: absolute;
        bottom: 10px;
        left: 110px;

        button {
          display: block;
          margin-bottom: 2px;
        }
      }
    }
  }
}

// Sidebar

.list-members {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  img {
    width: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

// Customize Bootstrap Panel for this special case in Groups Sidebar

.panel-groups-sidebar {
  background-color: white;

  .container-fluid {
    padding: 0px;
  }

  .row {
    padding: 0px;
  }
}