.rating-input {
  display: inline-block;
  padding-left: 4px;
}

.glyphicon-star, .glyphicon-star-empty {
  color: rgb(250, 212, 29);
}

.user-rating-evaluation {
  margin-top: 5px;
}

.helpful-evaluation-div {
  color: grey;
  margin-top: 5px;
  font-size: 13px;
}

.user-rating-description {
  margin: 5px;
}

a.rate-evaluation-link {
  cursor: pointer;
}

.course-rating {
  display: inline-block;
}

.course-rating-count {
  display: inline;
  font-weight: lighter;
  font-size:  0.85em;
}

.course-rating-value {
  font-size: 0.9em;
}

.user-rate-course-value {
  font-size: 1.4em;
}

.user-rating-value {
  float:right;
  font-size: 1.4em;
}