// How to show recommendations on course detail page

$user-picture-size: 50px;

.recommendation-small {
  padding-top: 5px;

  .user-info {
    min-height: $user-picture-size + 10px;

    img {
      float: left;
      width: $user-picture-size;
      margin-right: 10px;
    }

    .name {
      line-height: 20px;

      .author {
        display: inline-block;
      }

      .to-whom {
        display: inline-block;
      }

      a {
        @include link-black-hover-green;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.course-details > .content > .gradient-divider {
  margin-right: 10px;
  margin-left: 10px;
}

// How to show recommendations on dashboard / group dashboard

.recommendations {
  width: 100%;
  padding-bottom: 10px;
  position: relative;

  .classification {
    position: absolute;
    top: -10px;
    right: 30px;
    border: 1px solid #ddd;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
  }

  .label-recommended {
    @extend .classification;
    background-color: $mammooc;
  }

  .label-obligatory {
    @extend .classification;
    background-color: $brand-warning;
  }

  .profile-picture {
    margin-right: 10px;
    float: left;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .recommendations-box {
    @extend .content-box;
    margin-bottom: 15px;
    padding: 10px;
    width: auto;
    overflow: hidden;

    .message {
      display: block;

      a {
        @include link-black-hover-green;
        font-weight: bold;
      }
    }

    .course {
      border: 1px solid #ddd;
      padding: 10px;
      margin: 10px 0px;
      height: 170px;

      .picture {
        float: left;
        margin-right: 10px;

        img {
          width: auto;
          height: 150px;
        }

        .info {
          line-height: 18px;
        }
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 18px;     /* fallback */
        max-height: 54px;      /* fallback */
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }
}
