// How to show recommendations on course detail page

$user-picture-size: 50px;

.recommendation-small {
  padding-top: 5px;

  .user-info {
    min-height: $user-picture-size + 10px;

    img {
      float: left;
      width: $user-picture-size;
      margin-right: 10px;
    }

    .name {
      line-height: 20px;

      .author {
        display: inline-block;
      }

      .to-whom {
        display: inline-block;
      }

      a {
        @include link-black-hover-green;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.course-details > .content > .gradient-divider {
  margin-right: 10px;
  margin-left: 10px;
}

div.tokenfield.form-control {
  height: auto;
}
