// How to show recommendations on course detail page

$user-picture-size: 50px;

.recommendation-small {
  padding-top: 5px;

  .user-info {
    min-height: $user-picture-size;

    img {
      width: $user-picture-size;
      margin-top: -10px;
      margin-right: 10px;
    }

    .name {
      display: inline-block;
      line-height: 16px;
      font-weight: 300;

      a {
        @include link-black-hover-green;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.course-details > .content > .gradient-divider {
  margin-right: 10px;
  margin-left: 10px;
}

// How to show recommendations on dashboard / group dashboard

.recommendations {
  width: 100%;

  .profile-picture {
    margin-right: 10px;
    float: left;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .recommendations-box {
    @include white-box;
    @include box-shadow-light;
    margin-bottom: 15px;
    padding: 10px;
    width: auto;
    overflow: hidden;

    .course {
      border: 1px solid #ddd;
      padding: 10px;
      margin: 10px;
      height: 170px;

      .picture {
        float: left;
        margin-right: 10px;

        img {
          width: auto;
          height: 150px;
        }

        .info {
          line-height: 18px;
        }
      }
      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 18px;     /* fallback */
        max-height: 54px;      /* fallback */
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }
}


//.recommendations-wrapper {
//
//  .recommendations {
//    background-color: white;
//    border: 1px solid $panel-default-border;
//    border-radius: $panel-border-radius;
//    float: left;
//    width: 835px;
//    height: 400px;
//    margin-bottom: 30px;
//    @include box-shadow-light;
//
//    &:hover {
//      cursor: pointer;
//      @include box-shadow-hover;
//    }
//
//    .course-image {
//      border-bottom: 1px solid $panel-default-border;
//      display: inline;
//      img {
//        object-fit: cover;
//        display: inline;
//        width: 25%;
//        height: 130px;
//        overflow: hidden;
//      }
//    }
//
//    a {
//      text-decoration: none;
//      color: black;
//    }
//
//    .course-info {
//      position: relative;
//      height: 170px;
//      width: 90%;
//      padding: 10px;
//      font-size: 12px;
//      font-weight: 300;
//
//      .name {
//        font-size: 14px;
//        font-weight: 500;
//      }
//
//      .provider {
//        position: relative;
//
//
//        img {
//          width: 100px;
//          height: auto;
//        }
//      }
//    }
//  }
//}