// Site header

.site-header {
  @include white-box;
  @include box-shadow-light;
  margin-bottom: 30px;

  .wrapper {
    height: 60px;
    padding: 10px 15px;

    .logo {
      display: inline-block;
      background-color: white;
      margin-right: 15px;
      height: 40px;
      float: left;
      @include vertical-align;

      img {
        height: 100%;
        width: auto;
      }

    }

    .title {
      display: inline-block;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      @include vertical-align;
    }

    .options {
      float: right;
      @include vertical-align;
    }
  }
}
