// Site header

.site-header {
  @include white-box;
  @include box-shadow-light;

  .wrapper {
    height: 60px;

    .logo {
      background-color: white;
      margin: 10px 10px 0px 15px;
      height: 40px;

      img {
        height: 100%;
        width: auto;
      }

    }

    .title {
      padding-top: 14px;
      font-size: 20px;
      font-weight: bold;
    }

    .options {
      margin-right: 10px;
    }
  }
}
