.gradient-divider {
  border: 0;
  height: 1px;
  margin: 10px 0px;
  background: -webkit-linear-gradient(left, rgba(238,238,238,0.1), rgba(238,238,238,0.7), rgba(238,238,238,1), rgba(238,238,238,0.7), rgba(238,238,238,0.1));
  background: -o-linear-gradient(right, rgba(238,238,238,0.1), rgba(238,238,238,0.7), rgba(238,238,238,1), rgba(238,238,238,0.7), rgba(238,238,238,0.1));
  background: -moz-linear-gradient(right, rgba(238,238,238,0.1), rgba(238,238,238,0.7), rgba(238,238,238,1), rgba(238,238,238,0.7), rgba(238,238,238,0.1));
  background: linear-gradient(to right, rgba(238,238,238,0.1), rgba(238,238,238,0.7), rgba(238,238,238,1), rgba(238,238,238,0.7), rgba(238,238,238,0.1));
}

/* Standard content boxes */

.content-box {
  @include white-box;
  @include box-shadow-light;
}

.main-section {
  margin-top: 30px;

  .element {
    @extend .content-box;
    margin-bottom: 30px;
    .content {
      padding: 20px;
    }
    .no-content-alert {
      padding: 10px;
    }
  }
}

.sidebar {
  .element {
    @extend .content-box;
    margin-bottom: 15px;
    .content {
      padding: 10px;
    }
  }

  .small-link {
    font-size: 12px;
  }
}

/* Site header */

.site-header {
  @include white-box;
  @include box-shadow-light;
  margin-bottom: 30px;

  .wrapper {
    height: 60px;
    padding: 10px 15px;

    .logo {
      display: inline-block;
      background-color: white;
      margin-right: 15px;
      height: 40px;
      float: left;
      @include vertical-align;

      img {
        height: 100%;
        width: auto;
      }
    }

    .title {
      display: inline-block;
      @extend .hd3;
      color: black;
      line-height: 40px;
      @include vertical-align;
    }

    .options {
      float: right;
      @include vertical-align;
    }
  }
}

// How to show recommendations on dashboard / group dashboard

.newsfeed {
  width: 100%;
  padding-bottom: 10px;
  position: relative;

  .classification {
    position: absolute;
    top: -10px;
    right: 30px;
    border: 1px solid #ddd;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
  }

  .label-recommended {
    @extend .classification;
    background-color: $mammooc;
  }

  .label-obligatory {
    @extend .classification;
    background-color: $brand-warning;
  }

  .profile-picture {
    margin-right: 10px;
    float: left;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .newsfeed-box {
    @extend .content-box;
    margin-bottom: 15px;
    padding: 10px;
    width: auto;
    overflow: hidden;

    .message {
      display: block;

      a {
        @include link-black-hover-green;
        font-weight: bold;
      }
    }

    .course {
      border: 1px solid #ddd;
      padding: 10px;
      margin: 10px 0px;
      height: 170px;

      .picture {
        float: left;
        margin-right: 10px;

        img {
          width: auto;
          height: 150px;
        }
      }

      .info {
        line-height: 18px;
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 18px;     /* fallback */
        max-height: 54px;      /* fallback */
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }
}
