.profile-top {
  @extend .content-box;
  min-height: 165px;
  margin-bottom: 15px;

  .user-visual {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;

    img {
      float: left;
      height: 125px;
      width: 125px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .name {
      vertical-align: top;
      margin-bottom: 5px;
    }

    .small-heading {
      display: inline-block;
      margin-bottom: 4px;
      width: 75px;
      font-size: 12px;
      font-weight: 300;
      color: #777;
      line-height: 20px;
    }

    .edit-profile {
      position: absolute;
      top: 20px;
      right: 20px;
    }

  }
}

.user-details {
  @include white-box;
  @include box-shadow-light;
  margin-bottom: 30px;

  .title {
    display: inline-block;
    top: 0;
    left: 0;
    background-color: $gray;
    padding: 5px 25px;
    @extend .hd6;
    color: white;
  }

  .content {
    padding: 20px;
  }
}

.panel-heading{
  .provider{
    font-size: 14px;
    font-weight: normal;
  }
}
