/* Avoid style="" and use the following classes instead */

/* general */
.full-width { width: 100% }
.cursor-pointer { cursor: pointer }
.inline-block { display: inline-block }
.block { display: block }
.pos-rel { position: relative }

/* floats */
.centered { margin: 0px auto}

/* alignments */
.vtop { vertical-align: top }
.vmiddle { vertical-align: middle }
.vbottom { vertical-align: bottom }
.vbase { vertical-align: baseline }

.text-center { text-align: center }
.text-right	{ text-align: right }

/* text styles */

.bold { font-weight: bold }
.underline { text-decoration: underline }

/* paddings */
.pa0 { padding: 0px }
.pa5 { padding: 5px }
.pa10 { padding: 10px }
.pa20 { padding: 20px }

.pt0 { padding-top: 0px }
.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pt20 { padding-top: 20px }

.pr0 { padding-right: 0px }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr20 { padding-right: 20px }

.pb0 { padding-bottom: 0px }
.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb15 { padding-bottom: 15px }
.pb20 { padding-bottom: 20px }

.pl0 { padding-left: 0px }
.pl5 { padding-left: 5px }
.pl10 { padding-left: 10px }
.pl20 { padding-left: 20px }

/* margins */
.ma0 { margin: 0px }
.ma5 { margin: 5px }
.ma10 { margin: 10px }

.mt-10 { margin-top: -10px }
.mt0   { margin-top:   0px }
.mt5   { margin-top:   5px }
.mt10  { margin-top:  10px }
.mt15  { margin-top:  15px }
.mt20  { margin-top:  20px }
.mt30  { margin-top:  30px }
.mt50  { margin-top:  50px }

.mr0  { margin-right: 0px }
.mr5  { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mr50 { margin-right: 50px }

.mb0  { margin-bottom: 0px }
.mb5  { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb30 { margin-bottom: 30px }
.mb40 { margin-bottom: 40px }
.mb50 { margin-bottom: 50px }

.ml0  { margin-left: 0px }
.ml5  { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.ml50 { margin-left: 50px }
